.card {
  background-color: hsl(227, 47%, 96%);
  border-radius: 0.375rem;
}

.card__gain {
  color: limegreen;
  font-weight: 700;
  &--negative {
    color: red;
  }
}

.App--darkMode {
  .card {
    background-color: hsl(228, 28%, 20%);
  }

  .card__title {
    color: hsl(228, 34%, 66%);
  }
  .card__number {
    color: #fff;
  }
}
